## Syntax of Lambda 
* lambda x1,x2,x3....,xn : expression

In [27]:
# without lambda funcion 
def f(x):
    return 2 * x + 1


f(2)

5

In [3]:
g= lambda x: 2*x+1
g(2)

5

In [11]:
f=lambda:"what is your purpose"
f()

'what is your purpose'

In [20]:
num_age=[12,3,1,87,8,9,43,11,53,72]
num_age.sort(key=lambda x:x)
num_age

[1, 3, 8, 9, 11, 12, 43, 53, 72, 87]

In [22]:
authors=["bayram salman","bakır çay","hazer almasandov","kader il","kenan almadıogullarından"]
authors.sort(key= lambda name:name.split(" ")[-1].lower())
authors

['kenan almadıogullarından',
 'hazer almasandov',
 'kader il',
 'bayram salman',
 'bakır çay']

In [26]:
random = [( "a",2), ( "d",3), ("v",4), ( "dd",1)]
random.sort(key=lambda num: num[-1])
random

[('dd', 1), ('a', 2), ('d', 3), ('v', 4)]

In [24]:
random = [(2, "a"), (3, "d"), (4, "v"), (1, "dd")]
random.sort(key=lambda num: num[0])
random

[(1, 'dd'), (2, 'a'), (3, 'd'), (4, 'v')]

In [17]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

employees.sort(key= lambda age:age.get("age"))
employees

[{'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

## Map Function
* map(fun, iter)

In [31]:
# without map 

my_list=[1,2,3,4,5]
for val in my_list:
    print( f" {val}. value is  {val+10}")

 1. value is  11
 2. value is  12
 3. value is  13
 4. value is  14
 5. value is  15

In [36]:
# with map 
a=map(lambda x : x+10 , my_list)
print(list(a))

[11, 12, 13, 14, 15]

In [40]:
# with map but without lambda
def addition(n):
    return n + 10


result = map(addition, my_list)
print(list(result))

[11, 12, 13, 14, 15]

In [41]:
numbers_1 = [12, 32, 43, 54]
numbers_2 = [32, 3, 4, 1]

a = map(lambda x, y: x + y, numbers_1, numbers_2)
print(list(a))

[44, 35, 47, 55]

In [42]:
my_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


def even(num):
    if num % 2 == 0:
        return num * 2
    else:
        return num


conclusion=map(even, my_array)
print(list(conclusion))

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

## Filter Function

In [6]:
ages_of_employes = [32, 3, 2, 1, 23, 55, 61, 43, 18, 21, 34, 38, 1, 2, 3, 4]


def isLegalAge(x):
    if x >= 18:
        return x


result = filter(isLegalAge, ages_of_employes)
print(list(result))

[32, 23, 55, 61, 43, 18, 21, 34, 38]

In [7]:
ages_of_employes = [32, 3, 2, 1, 23, 55, 61, 43, 18, 21, 34, 38, 1, 2, 3, 4]

a = filter(lambda x: x >= 18, ages_of_employes)
print(list(a))

[32, 23, 55, 61, 43, 18, 21, 34, 38]

In [9]:
ages_of_employes = [32, 3, 2, 1, 23, 55, 61, 43, 18, 21, 34, 38, 1, 2, 3, 4]

b = filter(lambda x: x % 3 == 0, ages_of_employes)
print(list(b))

[3, 18, 21, 3]

## Reduce Function

In [13]:
# Ternary operator
a, b = 10, 21
res = a if a > b else b
print(res)

21

In [15]:
# Ternary operator
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in data:
    result = "even" if i % 2 == 0 else "odd"
    print(f"Number {i} is {result}")

Number 1 is odd
Number 2 is even
Number 3 is odd
Number 4 is even
Number 5 is odd
Number 6 is even
Number 7 is odd
Number 8 is even
Number 9 is odd
Number 10 is even

In [27]:
import functools

lis = [3, 4, 5, 7, 8, 0, 2, 1]
result = functools.reduce(lambda a, b: a + b, lis)
num_min = functools.reduce(lambda a, b: a if a < b else b, lis)
num_max = functools.reduce(lambda a, b: a if a > b else b, lis)
print(
    f"""
      The sum of the list {result} \n
      The min element of list {num_min}\n
      The max element of list {num_max}
    """
)

      The sum of the list 30

      The min element of list 0

      The max element of list 8